<a href='/' style="background-color:#ffffff;"><%= image_tag 'logo.png', style: 'float:left;'%></a>

<div class="masthead" style="margin-top:70px;">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li <% if request.path_info == '/products' || request.path_info == '/'%>class="active"<% end %>><a href="/">Top</a></li>
          <li <% if request.path_info == '/list' %>class="active"<% end %>><a href="/list">show</a></li>
          <li <% if request.path_info == '/help' %>class="active"<% end %>><a href="/help">How to use</a></li>
          <li <% if request.path_info == '/contact' %>class="active"<% end %>><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
