<div class="row-fluid">
  <div class="span8" style="border: medium solid #00ff00;">
<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=2.377297,6.189486&amp;spn=134.152803,269.371159&amp;t=m&amp;output=embed"></iframe><br /><small>より大きな地図で <a href="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=2.377297,6.189486&amp;spn=134.152803,269.371159&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Fab Labs on Earth</a> を表示</small>
  </div>

  <div class="span4" style="border: medium solid #000000;"></div>

</div>

<div class="row-fluid">
  <div class="span8" style="border: medium solid #00ff00;">
<iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=2.377297,6.189486&amp;spn=134.152803,269.371159&amp;t=m&amp;output=embed"></iframe><br /><small>より大きな地図で <a href="https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;msa=0&amp;msid=217507381704291487812.00044fdbd79d493ad9600&amp;ll=2.377297,6.189486&amp;spn=134.152803,269.371159&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left">Fab Labs on Earth</a> を表示</small>
  </div>

  <div class="span4" style="border: medium solid #000000;"></div>

</div>
